.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 200px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: chocolate;
    border: none;
  }

  #counter {
    font-size: 20px;
    font-weight: bold;
  
  }